<%= form_for(@post, html: {multipart: true}) do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :content %><br>
      <%= f.text_field :content %>
    </div>
    <div class="field">
      <%= f.label :tag_list, "Tags (separated by commas)" %><br/>
      <%= f.text_field :tag_list %>
    </div>
    <div class="field">
      <%= f.label :skill_list, "skills (separated by commas)" %><br/>
      <%= f.text_field :skill_list %>
    </div>

    <p>
      <label>Post cover</label>
      <%= image_tag(@post.cover_url) if @post.cover? %>
      <%= f.file_field :cover %>
      <%= f.hidden_field :cover_cache %>
    </p>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
