
<p id="notice"><%= notice %></p>
<div>======================</div>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
<br/>
<h2>以下演示的是cache 嵌套需要设置touch: true的效果</h2>

<p>
  <%= render @post.comments %>
<div>==========以下在设置 # belongs_to :post #在更新子属性后post的cache不会被更新======</div>
<% cache @post do %>
    <%= render @post.comments %>
<% end %>


</p>
<br/>
<br/>
<br/>
<br/>
<h2>以下演示的是cache digest无法生效的情形</h2>
<p>


  <%= render @post %>


  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
