<!DOCTYPE html>
<html>
<head>
  <title>DeviseSample</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <% if current_user %>
      <%= link_to "welcome:#{current_user.email}", "#" %>
      <%= link_to "退出", destroy_user_session_path, method: 'delete' %>
  <% end %>
</header>
Page Rendered in <%= sprintf('%.3f', (Time.now.to_f - @start_time) ) %> seconds

<%= yield %>

</body>
</html>
